/* .mainheader
{
    background-color: rgb(209, 133, 33);
}
.mainTitle
{
    color: #3625a7;
   
}
 */

body
{
    background-color: #ffede3;
}
.mainheader
{
    background-color: #ffede3;
    float: left;
    width: 50%;
    height: 600px;
}
.mainTitle
{
    color: #523e27;
    font-family:'Times New Roman', Times, serif;
    text-align: Left;
    margin: 40px;
    font-size: 50px;
}
.brainpic
{
   float: right;
   width: 100%;
   opacity: 94%;
   height: 100%;
}
.button
{
    font-size: 15px;
    text-align: center;
    width: 150px;
    height: 30px;
}
.button:hover
{
    background-color: #523e27;
    color:#e8cfc1;
}
.page2
{
    background-color: #523e27;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}
.helpingpic
{
    width: 90%;
    height: 600px;
    opacity: 10%;
}
.page2text
{
    color: antiquewhite;
    font-size: 50px;
    position: absolute;
    top: 770px;
    width: 80%;
    right: 110px;
    
}
.page3
{
    width: 25%;
    float: right;
}
.page3pic
{
    width: 50%;
}

/*showing response, change format and look*/
#responses {
    text-align: left;
    width: 800px;
    border: solid #ac7b5d 1px;
    margin: 20px auto;
    padding: 20px;
    background: #dbb096;
    color: black;
    border-radius: 20px;
} 