<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Support for Students</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    
    <div class="mainheader">
        <br><br><br><br><br>
            <h1 class="mainTitle">We're here to help you achieve your mental health goals. </h1>
            <p class="mainTitle" style="font-size: 30px;">A Mental Health Resource</p>
            <br><br>
            <a href="#explain"><button class = "mainTitle button" type="button" >Learn More</button></a>
    
    </div>
    
    <div class="mainheader"> 
        <img class="brainpic" src="/static/brain4.jpg"/>
    </div>

    <div class="page2">
        <img class="helpingpic" src="/static/helping.png"/>
        <p class="page2text"><b>UPLIFT</b> helps people boost their mental health by generating advice, tools and resources to encourage strong mental health. </p>
    </div>

    <div class="subtopics">
    <h1 class="mainTitle" id="explain">Get Mental Health Help</h1>
        <div class="page3">
            <img class="page3pic" src="/static/books.png">
            <br><br><br><br>
            <h2>Academic</h2>
            <p style="width:75%;">School can be stressful. Get tips on how to balance your academic stresses and life. </p><br>
            <a href="#aca"><button class = "mainTitle button" style="margin-left: -3px;"type="button" >Get Started</button></a>
        </div>
        <div class="page3">
            <img class="page3pic" src="/static/personal.png">
            <br><br><br>
            <h2>Personal</h2>
            <p style="width:75%;">Get tips on how to tackle personal stresses, battles and negative thoughts. </p><br>
            <a href="#per"><button class = "mainTitle button" style="margin-left: -3px;"type="button" >Get Started</button></a>
        </div>
        <div class="page3">
            <img class="page3pic" src="/static/friends.png">
            <br><br>
            <h2>Social</h2>
            <p style="width:75%;">Get tips on how to foster healthy relationships with those around you and have a healthy social life. </p><br>
            <a href="#soc"><button class = "mainTitle button" style="margin-left: -3px;"type="button" >Get Started</button></a>
        </div>
        <div class="page3">
            <img class="page3pic" src="/static/family.png">
            <br><br>
            <h2>Family</h2>
            <p style="width:75%;">Get tips on how to balance family life, and tackle family pressures and stresses. </p><br>
            <a href="#fam"><button class = "mainTitle button" style="margin-left: -3px;"type="button">Get Started</button></a>
        </div>
    </div>
    
    <div class="subs odd">
        <h1 class="subHead" id="fam">Family Advice</h1>
        <p style="position:relative; top:60px;">Balancing academics, personal, social, family and other life aspects can be very stressful. Let's learn how to handle academic stress. </p>
        <p style="position:relative; top: 70px;">Press the button below to see tips on handling family stress:</p>
    </div>
    <div class="subs even">
        <h1 class="subHead" id="soc">Social Advice</h1>
        <p style="position:relative; top:60px;">Balancing academics, personal, social, family and other life aspects can be very stressful. Let's learn how to handle academic stress. </p>
        <p style="position:relative; top: 70px;">Press the button below to see tips on handling social stress:</p>
    </div>
    <div class="subs odd">
        <h1 class="subHead" id="per">Personal Advice</h1>
        <p style="position:relative; top:60px;">Balancing academics, personal, social, family and other life aspects can be very stressful. Let's learn how to handle academic stress. </p>
        <p style="position:relative; top: 70px;">Press the button below to see tips on handling personal stress:</p>
    </div>
    <div class="subs even">
        <h1 class="subHead" id="aca">Academic Advice</h1>
        <p style="position:relative; top:60px;">Balancing academics, personal, social, family and other life aspects can be very stressful. Let's learn how to handle academic stress. </p>
        <p style="position:relative; top: 70px;">Press the button below to see tips on handling academic stress:</p>
    </div>

    <div class="subs odd">
        <h1 class="subHead">Let's Journal</h1>
        <p style="position:relative; top:60px; right: -150px; width:75%;">Did you know that journaling about your stresses can reduce the negative impact they have on your mental health? Reflecting upon stressful events and encounters can help you let go of negative feelings, including anxiety and depression. </p>
        <p style="position:relative; top: 70px;">Generate a prompt below by clicking on one of the buttons, based on your current mood. </p>
    </div>
    
    
    <!--testing purposes-->
    <body>
        <h1>Mental Health Button(change to click later)</h1>\
    
        <!--change to upon click later-->
        <form method="POST" action="/generate_response">
            <label for="user_input">Enter your input:</label>
            <button type="submit" id="user_input" name="user_input" value="Academic">Academic Advice</button>
            <button type="submit" id="user_input" name="user_input" value="Personal">Personal Advice</button>
            <!--below is for search method-->
            <!-- <input type="text" id="user_input" name="user_input">
            <input type="submit" value="Generate Response"> -->
        </form>

    
    </body>

    <div id="responses">
        <p>Incoming advice..</p>        
        {% if user_input %}
        <h3>Your Input:</h3>
        <p>{{ user_input }}</p>
        {% endif %}
        
        {% if response %}
        <h3>AI Response:</h3>
        <p>{{ response }}</p>
        {% endif %}
    </div>
   
</body>
</html>
