<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <img class="logo"src="/static/lotuslogo.png"/>
    <h4 class="logotext">UPLIFT</h4>
    
    <div class="subs">
        <h1 class="subHead" id="fam">Family Advice</h1>
        <p style="position:relative; top:-50px;">Balancing academics, personal, social, family and other life aspects can be very stressful. Let's learn how to handle academic stress. </p>
        <p style="position:relative; top: -40px;">Press the button below to see tips on handling family stress:</p>
        <form method="POST" action="/generate_response">
            <button type="submit" id="user_input" name="user_input" value="Communication" class="aibutton">Communication</button>
        </form>

        <div id="responses">
            {% if user_input %}
            <h3>{{ user_input }} :</h3>
            {% endif %}
            
            {% if response %}
            <p>{{ response }}</p>
            {% endif %}
        </div>

        <!--when click back button, page variable in academic advice becomes N/A.-->
        <a href="/"><button class = "aibutton" style="margin-left: -3px;"type="button">Back</button></a>
    </div>
</body>
</html>