body
{
    background-color: #ffede3;
}
.mainheader
{
    background-color: #ffede3;
    float: left;
    width: 50%;
    height: 600px;
}
.mainTitle
{
    color: #523e27;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: Left;
    margin: 40px;
    font-size: 50px;
}
.brainpic
{
   float: right;
   width: 100%;
   opacity: 94%;
   height: 100%;
}
.button
{
    font-size: 15px;
    text-align: center;
    width: 150px;
    height: 30px;
}
.button:hover
{
    background-color: #523e27;
    color:#e8cfc1;
}
.page2
{
    background-color: #523e27;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}
.helpingpic
{
    width: 90%;
    height: 600px;
    opacity: 10%;
}
.page2text
{
    color: antiquewhite;
    font-size: 50px;
    position: absolute;
    top: 770px;
    width: 80%;
    right: 110px;
    
}
.page3
{
    width: 24%;
    float: right;
    color: #523e27;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    left: 40px; 
}
.page3pic
{
    width: 70%;
    margin: 10px;
}
.subtopics
{
    height: 600px;
}
.button2
{
    font-size: 15px;
    text-align: center;
    width: 150px;
    height: 30px;
    margin-left: -3px;
}
.subs
{
    text-align: center;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 700px;
}
.odd
{
    background-color: #523e27;
    color: #e8cfc1;
}
.even
{
    color: #523e27;
}
.subHead
{
    font-size: 50px;
   position: relative;
   top: 50px;
   right: 20px;
}
Back button 
{
    
}


/*showing response, change format and look*/
#responses {
    text-align: left;
    width: 800px;
    border: solid #ac7b5d 1px;
    margin: 20px auto;
    padding: 20px;
    background: #dbb096;
    color: black;
    border-radius: 20px;
} 